/* =================
    Defaults Reset 
  ================= */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Silkscreen", cursive;
}
/* Default text */
:root {
  --main-background-color: linear-gradient(
    to right,
    #0af2b6,
    #5f119e,
    #8a2387,
    #e94057,
    #f27,
    #5f119e,
    #0af2b6
  );
  --main-text-color: linear-gradient(
    to right,
    hsl(164, 92%, 39%),
    hsl(273, 81%, 24%),
    hsl(302, 60%, 24%),
    hsl(352, 79%, 38%),
    hsl(337, 100%, 37%),
    hsl(273, 81%, 24%),
    hsl(164, 92%, 29%)
  );
  --range-input-gradient: linear-gradient(to right, #e94057, #f27);
}
/* Body defaults and Background */
body {
  min-height: 100vh;
  height: auto;
  background: var(--main-background-color);
  background-size: 600%;
  animation: 90s move infinite linear;
}
/* Centering content of the page*/
main {
  min-height: 100vh;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 20px;
  font-family: "Silkscreen", cursive;
}
/* main title */
.main-title {
  font-size: 2.5rem;
  /* effect */
  background: var(--main-text-color);
  background-size: 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 10s move infinite linear;
}
/* Creator */
.creator>span {

  /* effect */
  background: var(--main-text-color);
  background-size: 600%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: 10s move infinite linear;
}
/* Background, text animation */
@keyframes move {
  to {
    background-position: 600%;
  }
}
/* Buttons */
.btn {
  padding: 0.3rem;
  font-size: 1rem;
  color: black;
  background: rgba(255, 255, 255, 0.457);
  margin: 2px;
  width: 100%;
  box-shadow: 1px 1px 1px black;
  height: calc(100% / 6);
  font-weight: 900;
}
.btn:hover {
  background: rgba(255, 255, 255);
}
.btn:focus {
  outline: none;
}
input:focus {
  outline: none;
}
/* =================
    Defaults reset End 
  ================= */

/* =================
    Card start
  ================= */
/* ===== Cards defaults ===== */
article {
  width: 95vw;
  margin-bottom: 10px;
  max-width: 480px;
  background: rgba(123, 123, 123, 0.373);
  padding: 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px black;
  box-shadow: 1px 1px 1px black;
}
/* ===== grid box ===== */
.grid-box {
  max-width: calc(480px - 5vw);
  min-width: 300px;
  max-height: calc(480px - 5vw);
  min-height: 300px;
  width: 90vw;
  height: 52vw;
  background: #aaa;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid black;
  -webkit-user-drag:none;
}
/* TODO: adjust */
.single-div {
  width: 1fr;
  height: 1fr;
  border: 1px solid black;
  -webkit-user-drag:none;
}
.border-none {
  border: none;
}
/* ===== Settings ===== */
.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
/* button container */
.button-container {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-bottom:2rem;
}
.button-container > div {
  flex: 1;
}
/* Changing color mode buttons */
.color-mode-buttons > button {
  background:rgba(0, 0, 0, 0.500);
  color: white;
}
.color-mode-buttons > button:hover {
  background:black;
  color: white;
}
/*  */
/* Input color */
input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 50px;
  opacity: 1;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  border: 2px solid black;
  padding: 0;
}
/* Input range */
.range-input-container {
  width: 100%;
}
input[type="range"] {
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.5);
  background-image: var(--range-input-gradient);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  cursor: pointer !important;
  width: 100%;
}
/* Google chrome input range settings*/
input[type="range"]::-webkit-slider-runnable-track {
  height: 1.5rem;
  border: 2px solid black;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: black;
  height: 100%;
  width: 25px;
}

/* Firefox range settings */
input[type="range"]::-moz-range-track {
  background: #aaa;
  height: 1.5rem;
}
input[type="range"]::-moz-range-thumb {
  border: none;
  border-radius: 0;
  background: #aaa;
  height: 1.5rem;
}
/* =================
    Card end
  ================= */
/* =================
    Clicked buttons effects
  ================= */
  /* General clicked button */
  .customColor.clicked,.backgroundColor.clicked,.toggleBorder.clicked,.eraser.clicked,.borderColor.clicked {
    background:black;
  }
  /* Rainbow mode clicked button */
  .rainbowMode.clicked {
    background: linear-gradient(to right,red,orange,yellow,green,blue,indigo);
  }
  /* Cold color */
  .coldColor.clicked {
    background: linear-gradient(to right,#00047e,#0038b9,#0ca6dd,#6845fb,#8b41ff);
  }
  /* Warm color */
    .warmColor.clicked {
    background: linear-gradient(to right,#de0c1c,#fe2d2d,#fb7830,#fecf02,#ffdd47);
    }
    /* Darken */
    .darken.clicked {
      background: linear-gradient(to right,#666666,#333333,#000000);
      color: white;
    }
    /* Lighten */
    .lighten.clicked {
      background: linear-gradient(to right,#999,#aaa,#fff);
      color: black;
    }
    /* Fancy */
    .fancyColor.clicked,.fancyDiv {
      background: var(--main-background-color) ;
      background-size: 500%;
      animation: 90s move linear infinite;
    }
/* =================
    Clicked buttons effects end
  ================= */
  /* INFO */
  .myLink {
    font-size: 16px;
    color: white;
    text-decoration: none ;
  }
  .myLink:visited {
    color: white;
  }
  
/* =================
    media query start
  ================= */
@media screen and (min-width: 1000px) {
  article.card {
    max-width: 1400px;
    flex-direction: row;
    width: 1000px;
    height: auto;
  }
  .grid-box {
    width: 700px;
    height: 700px;
    max-width: unset;
    min-width: unset;
    max-height: unset;
    min-height: unset;
  }
  .settings {
    width: 20%;
    justify-content: space-between;
  }
  .button-container {
    flex-direction: column;
    margin: 0;
  }
  .btn {
    margin: 4px 0px;
    height: unset;
    width: 100%;
  }
  input[type="color"] {
    height: 100%;
  }
}
/* =================
    media query end
  ================= */